@import "tailwindcss";
/* Flip card custom utilities */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}